@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto Mono',sans-serif;
  background-color: #8e44ad;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;   /* 不需要滚动 一般就100vhs  */
}
.container{
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.counter{
  margin-top: 10px;
  font-size: 50px;
}
@media(max-width: 580px){
  body{
    flex-direction: column;
  }
}