@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* 白天模式下的主次颜色 */
  --prim-color: black; /* 字体颜色...*/
  --sec-color: white; /* 背景色 */
}

body {
  transition: all 0.3s ease-in; /* 切换模式的过渡效果 */
  font-family: "Heebo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: var(--prim-color);
  background-color: var(--sec-color);
}

/* 黑暗模式下的主次颜色 */
html .black {
  --prim-color: white;
  --sec-color: #333;
}
html .black {
  background-color: #111; /* 额外给黑暗模式下的背景色设置 */
}

/* 按钮样式 */
.toggle {
  cursor: pointer;
  background-color: var(--prim-color);
  color: var(--sec-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
}
.toggle:focus {
  outline: chartreuse;
}

/* 时钟容器 */
.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.clock {
  position: relative;
  height: 200px;
  width: 200px;
  /* border: 1px solid; */
  border-radius: 50%;
}

/* 自定义的小边框 */

#sticky1 {
  position: absolute;
  left: 50%;
  top: 0;
  width: 5px;
  height: 20px;
  background-color: var(--prim-color);
  transform: translate(-50%);
}
#sticky2 {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 5px;
  height: 20px;
  background-color: var(--prim-color);
  transform: translate(-50%, -100%);
}
#sticky3 {
  position: absolute;
  left: 0;
  top: 50%;
  width: 5px;
  height: 20px;
  background-color: var(--prim-color);
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(90deg);
}
#sticky4 {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 5px;
  height: 20px;
  background-color: var(--prim-color);
  transform-origin: bottom center;
  transform: translate(-50%, -100%) rotate(-90deg);
}

.needle {
  position: absolute;
  transform-origin: bottom center;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 50px;
  background-color: var(--prim-color);
  transform: translate(-50%, -100%);

  /* 给钟表指针移动增加过渡 */
  transition: all 0.3s ease;
}
.needle.hour {
  /* js里修改这个rotate的值  */
  transform: translate(-50%, -100%) rotate(0deg);
}
.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 80px;
}
.needle.second {
  background-color: red;
  transform: translate(-50%, -100%) rotate(0deg);
  height: 80px;
}

/* 钟表的中心点 */
.center-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
}
.center-point::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: var(--prim-color);
}

.time {
  font-size: 60px;
}
.date {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #aaa;
  text-transform: uppercase;
}
.date .circle {
  background-color: var(--prim-color);
  color: var(--sec-color);
  /* font-weight: bold; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 50%;
  line-height: 18px;

  transition: all 0.3s ease-in;
}
