@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}
.bg{
    background: url('https://images.unsplash.com/photo-1546083381-2bed38b42cac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80') no-repeat center center/cover;
    
    z-index: -1;
    position: absolute;
    left: -20px;
    top: -20px;
    width: 120vw;
    height: 120vh;
    filter: blur(20px);   /* blur单位是 px */
}
.loading-text{
    font-size: 50px;
    color: white;
}